.PlayerShape {
    width: 100px;
    height: 100px;
    background-color: #c98ce5;
    position: fixed;
    cursor: move;
}
.GameField{
    width: 800px;
    height: 600px;
    background-color: #3f69a4;
    position: fixed;
}